In [2]:
foods=["AlloPratha","Maggie","Sandwich"]

In [3]:
for food  in foods:
    print(food)

AlloPratha
Maggie
Sandwich

In [4]:
print("Trvaresal Started:")
for i in foods:
    print(i)
print("Traversal Done")
print(i)

Trvaresal Started:
AlloPratha
Maggie
Sandwich
Traversal Done
Sandwich

In [8]:
table_Till=[1,2,3,4,5,6,7,8,9,10]

for i in table_Till:
    print( "5 X ",i," = ",5*i)

5 X  1  =  5
5 X  2  =  10
5 X  3  =  15
5 X  4  =  20
5 X  5  =  25
5 X  6  =  30
5 X  7  =  35
5 X  8  =  40
5 X  9  =  45
5 X  10  =  50

In [12]:
print("Odd Number:")
for i in range(1,20,2):
    print(i)

Odd Number:
1
3
5
7
9
11
13
15
17
19

In [13]:
print("Even Number:")
for i in range(0,20,2):
    print(i)

Even Number:
0
2
4
6
8
10
12
14
16
18

In [18]:
for i in range(10,2,-2):
    print(i)

10
8
6
4

In [19]:
emp_details ={ 
               "001": ["Aswathi","India"],
               "002":["Sidharth","USA"],
               "003":["Monal","Canada"]
               }

In [20]:
emp_details.keys()

dict_keys(['001', '002', '003'])

In [23]:
for val in emp_details.keys():
    print(emp_details[val])

['Aswathi', 'India']
['Sidharth', 'USA']
['Monal', 'Canada']

In [ ]:
#Nested for Loops 

'''
*
**
***
****
*****
******
'''

In [33]:
for i in range(1):
    for j in range(7):
        print("*" * j)
    # print()

*
**
***
****
*****
******

In [27]:
# Seperated by comma will  will seprate thting 
print("Hello","Hi")

Hello Hi

In [29]:
print("Hello",end=",")
print("Hi")

Hello,Hi

In [28]:
print("Hello",end="/")
print("Hi")

Hello/Hi

In [31]:
print("Hello",end="\t")
print("Hi")

Hello	Hi

In [32]:
print("Hello",end=" ")
print("Hi")

Hello Hi

In [37]:
print("Hello","hi",1,2,end=" ")
print("Hoiii")
print("se")

Hello hi 1 2 Hoiii
se

In [ ]:
'''
*
***
*****
'''

In [38]:
for i in range(1):
    for j in range(1,7,2):
        print("*"* j)

*
***
*****

In [ ]:
'''
--*
-**
***

'''

In [82]:
n=int(input())
for i in range (1):
    for j in range(1,4):
        a="-"* (n-j)
        b="*"*j
        print(a+b)

--*
-**
***

In [ ]:
'''
--*
-**
***

'''

In [73]:
max=3
for i in range(2,-1,-1):
    print(i*"-",end="")
    print((max-i)*"*")

--*
-**
***

In [85]:
'''
--*
-**
***
'''

'\n--*\n-**\n***\n'

In [86]:
max=3
for i in range(1,max+1):
    print('-' * (max - i) + '*' * i)

--*
-**
***

In [87]:
for i in range (0,-10,-1):
    print(i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [97]:
# problem statement 
##There is a deafaulter which we don't want to include for the attendance 
# 
# Continue 

id=6
for i in range(1,11):
    if (i == id):
        continue
    print("Student_ID : ",i)

Student_ID :  1
Student_ID :  2
Student_ID :  3
Student_ID :  4
Student_ID :  5
Student_ID :  7
Student_ID :  8
Student_ID :  9
Student_ID :  10

In [98]:

id=[2,5,8]
for i in range(1,11):
    if i in id:
        continue
    print("Student_ID : ",i)

Student_ID :  1
Student_ID :  3
Student_ID :  4
Student_ID :  6
Student_ID :  7
Student_ID :  9
Student_ID :  10

In [99]:

id=6
for i in range(1,11):
    if (i == id):
        break
    print("Student_ID : ",i)

Student_ID :  1
Student_ID :  2
Student_ID :  3
Student_ID :  4
Student_ID :  5

In [104]:
## Asignment 1

student_details={
                 1:"Aswathi",
                 2:"Snehal",
                 3:"Shivangi",
                 4:"Shiwani",
                 5:"Sanjana",
                 6:"Pretti",
                 7:"Vashanvi",
                 8:"Anushka",
                 9:"Pallavi",
                 10:"Shika"
                }
listOfDefaulter=[2,5,7]

for i in range(1,11):
    if i in listOfDefaulter:
        continue
    print([student_details[i]])

['Aswathi']
['Shivangi']
['Shiwani']
['Pretti']
['Anushka']
['Pallavi']
['Shika']

In [ ]:
max=7
for i in range(1,8):
    print("*"*(max-i))

******
*****
****
***
**
*

In [ ]:
#Assingment 2
##Print the pyramid 

'''
      *
     ***
    *****
   *******
  *********
 ***********
*************

'''
max=7
for i in range(1,8):
    print(' '*(max-i)+'*'*(2*i-1))

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [116]:
#Assingment 3
##Print the pyramid like this 
'''
      *------
     ***-----
    *****----
   *******---
  *********--
 ***********-
*************

'''

max=7
for i in range(1,8):
    print(' ' * ( max - i ) + '*' * (2 * i - 1) ,'-' * ( max - i ) )

      * ------
     *** -----
    ***** ----
   ******* ---
  ********* --
 *********** -
*************